.body{
    padding: 0;
    margin: 0;
    
}
html{
    font-family: "Lexend Mega", sans-serif;
    font-size: 16px;
}
/* HEADER */
header{
    display: flex;
    flex-direction: column;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
    
}
header nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}
nav a{
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}
a:hover{
    color: blue;
}
header h1{
    font-size: 3rem;
    text-align: center;
    color: goldenrod;
    margin:.7rem 0 1.5rem 0;
}

/*Banner*/
.banner{
    margin-top: 1.5rem;
    background-image: url("https://www.malikjewellers.com/images/home-page-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

/*Product*/
.product{
    background-color: whitesmoke;
    
}
.product h2{
    padding-top: 3rem;
    padding-bottom: 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.product .product_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.product_container .product_box{
    display: flex;
    flex-direction: column;
    width:230px;
    background-color: white;
    margin: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pic:hover{
    border: 1px solid black;
    opacity: 0.9;
}
.product_desc:hover{
    background-color: blue;
    color: white;
}
.product_box .pic{
    width: 100%;
    
}
.product_box .pic img{
    width: 100%
    border: 1px solid red;
}
.product_box .product_desc{
    border-top: 2px solid black;
    text-align: center;
}

